head
  meta(charset='utf-8')
  title Articles
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
  body
  .model
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-body
            h4.modal-title Articles
            each article in articles
              div.card.my-2
                .card-body
                  .card-title= article.title
                  .card-subtitle= article.status
                  .card-text= article.body
                  //, target='_blank'
                  a.card-link(href= article.link) Open
            a.btn.btn-primary(href='/add') Add
